// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default all process(es) to use the parallel environment 'serial'
process.penv = "serial"

// Default pipeline mode (change to 'test' in yaml file if doing a test mode run)
params.mode = 'production'

// QC
params.qcToRun = ["All"]

process {
  debug = true
}

profiles {
	
	instanceSizeLow {
		process {
			withName: 'PICARD_MARK_DUPLICATES' {
				memory = "2G"
			}
			
			withName: 'BASE_RECALIBRATOR' {
				memory = "2G"
				cpus = 1
			}

			withName: 'APPLY_BQSR' {
				memory = "2G"
				cpus = 1
			}

			withName: 'PICARD_COVERAGE_METRICS' {
				memory = "2G"
			}

			withName: 'CONTAMINATION_CHECK' {
				memory = "2G"
			}
			
		}
	}

	instanceSizeHigh {
		process {
			withName: 'PICARD_MARK_DUPLICATES' {
				memory = "20G"
			}
			
			withName: 'BASE_RECALIBRATOR' {
				memory = "5G"
				cpus = 5
			}

			withName: 'APPLY_BQSR' {
				memory = "5G"
				cpus = 5
			}

			withName: 'PICARD_COVERAGE_METRICS' {
				memory = "30G"
			}

			withName: 'CONTAMINATION_CHECK' {
				memory = "10G"
			}
			
		}
	}

	executorLocal {
		// Executor
		executor.name = 'local'
	}

	executorGridEngine {
		// Executor
		executor.name = 'sge'
		executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }

		// Grid Engine
		clusterProject = "dna"
		defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";

		process {
			// Default cluster options with 1 hour run time for all processes
			clusterOptions = "$defaultClusterOptions -l d_rt=0:4:0"

		}
	}

	environmentModule {

		//  Modules
		initModules = "modules:modules-init:modules-gs"
		gatkModule = "GATK/4.2.6.1"
		picardModule = "picard/3.0.0"
		htslibModule = "htslib/1.16.2"
		verifyBamIdModule =  "VerifyBamID/2.0.1"

		process {
			withName: 'PICARD_MARK_DUPLICATES' {
				module = "${initModules}:${picardModule}"
			}
			
			withName: 'BASE_RECALIBRATOR' {
				module = "${initModules}:${gatkModule}"
			}

			withName: 'APPLY_BQSR' {
				module = "${initModules}:${gatkModule}"
			}

			withName: 'PICARD_COVERAGE_METRICS' {
				module = "${initModules}:${picardModule}"
			}

			withName: 'CONTAMINATION_CHECK' {
				module = "${initModules}:${htslibModule}:${verifyBamIdModule}"
			}
		}
	}

	environmentContainer {
		process {
			withName: 'PICARD_MARK_DUPLICATES' {
				container = "someContainerPath"
			}
		}
	}
}





